:3000
{
    bind 0.0.0.0
    encode gzip

    log {
        output stdout
        format console
    }


    # Backend
    handle_path /api/* {
        reverse_proxy http://backend-prod:8000
    }

    # Frontend
    handle * {
        root * /app/dist/
        try_files {path} /index.html
        file_server
    }
}

