version: '3.8'

services:
  # Backend Production
  backend-prod:
    build:
      context: ./backend
      target: prod
    profiles:
      - prod
    volumes:
      - ./backend:/app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s       
      timeout: 5s         
      retries: 3          
      start_period: 5s  

  # Backend Development
  backend-dev:
    build:
      context: ./backend
      target: dev
    profiles:
      - dev
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s       
      timeout: 5s         
      retries: 3          
      start_period: 5s  

    #Frontend Production
  frontend-prod:
    build:
      context: ./frontend
      target: prod
    profiles:
      - prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend/src:/app/src
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s 

  #Frontend Development
  frontend-dev:
    build:
      context: ./frontend
      target: dev
    profiles:
      - dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s 
    